<section class="section__two">
  <section class="section__two--one">
    <h6 class="title">¡Prepáralos con tus marcas favoritas!</h6>

    <h3 class="titleback">Vuelta al cole</h3>
  </section>

  <article class="article__one">
    <img
      class="image1"
      src="./assets/images/lpbts-mod05-img01-desk.png"
      alt="foto de una chica con una mochila"
    />
    <h4 class="title1">Mochilas escolares</h4>
  </article>

  <article class="article__two">
    <img
      class="image2"
      src="./assets/images/lpbts-mod05-img04-mob.png"
      alt="foto de un chico con estuche"
    />
    <h4 class="title2">Estuches</h4>
  </article>

  <article class="article__three">
    <img
      class="image3"
      src="./assets/images/lpbts-mod05-img03-mob.png"
      alt="imagen chica con bolsa de deporte"
    />
    <h4 class="title3">Bolsas de deporte</h4>
  </article>

  <div class="button__start">
    <a class="button__start--in" href="#">Empezar ahora</a>
  </div>
</section>
