<section class="section__two">
  <h6 class="section__two--title">¡Prepáralos con tus marcas favoritas!</h6>
  <h3 class="section__two--titleback">Vuelta al cole</h3>
  <article class="article">
    <img
      class="section__two--image1"
      src="./assets/images/lpbts-mod05-img01-desk.png"
      alt="foto de una chica con una mochila"
    />
    <h4 class="section__two--title1">Mochilas escolares</h4>
  </article>

  <article class="article">
    <img
      class="section__two--image2"
      src="./assets/images/lpbts-mod05-img04-mob.png"
      alt="foto de un chico con estuche"
    />
    <h4 class="section__two--title2">Estuches</h4>
  </article>
  <article class="article">
    <img
      class="section__two--image3"
      src="./assets/images/lpbts-mod05-img03-mob.png"
      alt="imagen chica con bolsa de deporte"
    />
    <h4 class="section__two--title3">Bolsas de deporte</h4>
  </article>

  <a class="button__start" href="#">Empezar ahora</a>
</section>
