.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greyish-brown;

@media (min-width:768px) {
    
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }


@media (min-width:1040px) {
   
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        
    }
}


.footer__ul1,
.footer__ul2 {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    
}

.footer__ul1 {
    margin-top: 60px;
    margin-bottom: 30px;
   

    &--li {
        text-decoration: none;
        color: $white;
        padding: 5px;  
    }
}


.footer__ul2 {
    margin-top: 20px;
    margin-bottom: 30px;

    &--li {
        text-decoration: none;
    color: $white;
    padding: 5px;
    }

}

.li {
    text-align: justify;
    padding: 7px;  
}

.footer__p1,
.footer__p2 {
    padding: 5px;
    color: $white;

&--heart {
    color: $moss-green;
    }
}

.footer__p2 {
    margin-bottom: 40px;
}



    @media (min-width:768px) {
        .footer__paragraph {
            order: -1;
            margin-left: 100px;
    }
}

    @media (min-width:768px) {
        .footer__paragraph {
            order: -1;
            margin-left: 100px;
    }
}


.footer__icon--green {
    position: absolute;
    width: 45px;
    height: 45px;
    border: solid $white 12px;
    border-radius: 50%;
    background-color: $white;
    bottom: 94%;
}

.footer {
    animation-duration: 2s;
    animation-name: slidein;

  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }}