.section__one {
    display: flex;
    flex-direction: column;
    padding: 13px;
    margin-left: 13px;
    margin-right: 13px;

&--paragraph1 {
    margin-top: 30px;
    margin-bottom: 5px;
    color: $moss-green;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
}

&--title {
    color: $black;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: $font-family-title;
    font-size: 22px;
    padding-left: 5%;
    padding-right: 5%;
    
}

&--paragraph2 {
    color: $greyish-brown;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
}
}

.button__buy {
    width: 159.9px;
    height: 45px;
	text-decoration: none;
	background-color: $white;
    border: solid $moss-green 2px;
	text-align: center;
	margin-top: 40px;
    margin-bottom: 15px;
	padding: 10px;
	border-radius: 22.5px;
	text-decoration: none;
    color: #6C933E;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    transition: transform 0.7s;
}


.button__buy:hover {
   transform: scale(1.2);  
}


    
    
