@import 'core/variables';
@import 'core/reset';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



   
    
    $moss-green: #6C933E;
    $light-grey: #d9e4cc;
    $greyish-brown: #3D3635;
    $white: #fff;
    $black: #000;
    $font-family-title: 'Poppins', sans-serif;
    $font-family: 'Roboto', sans-serif;

.body {
    font-family: $font-family;
}

.header{
background-color: pink;
}



.hero {
    height:100vh;
    background-color: $moss-green;
    background-image: url("../images/cover.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
   
}


.hero__title {
    color: $white;
    text-transform: uppercase;
    font-family: $font-family-title;
    text-align: center;
    padding: 20px;
    
}

.hero__title::first-line {
    word-spacing: 100vw;

}

.hero__paragraph {
    color: $white;
    text-align: center;
}

.section__one {
    display: flex;
    flex-direction: column;
    padding: 13px;
    margin-left: 13px;
    margin-right: 13px;
}

.section__one--paragraph1 {
    margin-top: 30px;
    margin-bottom: 5px;
    color: $moss-green;
    text-transform: uppercase;
}

.section__one--title {
    color: $black;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: $font-family-title;
    
}

.section__one--paragraph2 {
    color: $greyish-brown;
}

.section__two {
    background-color: $light-grey;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.section__two--title {
    color: $greyish-brown;
    margin-top: 18px;
    font-family: $font-family-title;
}

.section__two--titleback {
    color: $black;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 11.4px;
    font-family: $font-family-title;
}



.section__two--image1,
.section__two--image2,
.section__two--image3 {
    width: 150px;
    border-radius: 50%; 
}

.section__two--title1,
.section__two--title2,
.section__two--title3 {
    margin-bottom: 18px;
    font-family: $font-family-title;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greyish-brown;
}

.footer__ul1,
.footer__ul2 {
    list-style-type: none;
    text-transform: uppercase;
    
}

.footer__ul1 {
    margin-top: 30px;
}


.footer__ul2 {
    margin-top: 20px;
    margin-bottom: 30px;

}

.footer__ul1--li,
.footer__ul2--li {
    padding: 10px;
    text-decoration: none;
    color: $white;
    padding: 5px;
}

.footer__p1,
.footer__p2 {
    padding: 5px;
    color: $white;
}

.li {
    text-align: center;
    padding: 5px;
}

.button__start {
    width: 184px;
    height: 47.3px;
    color: $white;
    background-color: $moss-green;
    border: solid $moss-green 2px;
    border-radius: 25%;
    margin-bottom: 25px;
    font-size: 20px;
}

.button__buy {
    width: 184px;
    height: 47.3px;
    color: $moss-green;
    background-color: $white;
    border: solid $moss-green 2px;
    border-radius: 25%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}